.choose-items{
    display: flex;
    align-items: center;
    justify-content: center;
}

.choose-img{
    margin-right: 50px;
}

@media only screen and (max-width: 600px) {
    .choose-items{   
        
        flex-direction: column !important;
        align-items: center;
    }


}