.review-cards{
    display: flex;
    width: 90%;
    justify-content: space-between;
    margin: 0 auto;
    background-color: #f6fcfc;
    padding-bottom: 30px;
}

.card{
    width: 320px;
    padding: 20px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between; 
    background-color: #fff;
    -moz-box-shadow: 0 2px 4px #d6dadd;
    -webkit-box-shadow: 0 2px 4px #d6dadd; 
    box-shadow: 0 2px 4px #d6dadd;
}

.hidden{
    display: none;
}

.review-text p{
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #4A5050;
    margin-bottom: 35px;
}

.review-base{
    display: flex;
    align-items: center;
}

.review-base img{
    margin-right: 20px;
    border-radius: 50%;
}

.review-base h3{
    font-size: 16px;
    line-height: 24px;
    color: #2d2d2d;
    font-weight: 600;
}

.show{
    display: none;
}

@media only screen and (max-width: 600px) {
    .review-cards{
        flex-direction: column;
    }

    .hidee{
        display: none !important
    }

    .show{
        display: flex;
        flex-direction: column;
        padding: 20px;
        background-color: #fff;
        -moz-box-shadow: 0 2px 4px #d6dadd;
        -webkit-box-shadow: 0 2px 4px #d6dadd; 
        box-shadow: 0 2px 4px #d6dadd;
        width: 85%;
    }

    .show .review-base{
        margin-top: 100px;
    }

}