.icons-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    margin: 100px auto;
    padding: 0 20px;
}


@media only screen and (max-width: 600px) {
    .icons-box{
        width: 90vw !important;
    }

    .trustees img{
        width: 45px;
    }

    .special{
        width: 120px !important;
    }

    
}