.join-box{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 120px auto;
}

.join-card{
    width: 50%;
    color: #2d2d2d;
}

.join-card h1{
    font-size: 40px;
    line-height: 48px;
    font-weight: 600;
    margin-bottom: 10px;
}

.join-card p{
    font-size: 16px;
    line-height: 24px;
    font-style: normal;
}

.join-card button{
    margin-top: 20px;
    border: 0;
    outline: none;
    width: 218px;
    border-radius: 5px;
    background-color: #A0DDE2;
    cursor: pointer;
    color: #2d2d2d;
    font-size: 16px;
    line-height: 24px;
    font-weight: 600;
    padding: 20px;
}

@media only screen and (max-width: 600px) {
    .join-box{
        flex-direction: column;
    }

    
    .join-card{
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .join-card h1{
        text-align: center;
        font-size: 37px;
    
    }
    
    .join-card p{
        text-align: center;
        width: 100%;
        margin-bottom: 10px;
    }

    .join-img img{
        width: 98%;
        margin-top: 40px;
    }
}